<div class = "container-fluid">
    <div class = "row">
        <div class = "col-4">
            <%= render 'shared/sidebar' %>
        </div>

        <div class = "col-8">
            <h1>NpkLevelData#NPK_level_data_page</h1>
            <p>Find me in app/views/npk_level_data/NPK_level_data_page.html.erb</p>
        </div>
    </div>
</div>