<div class="container-fluid" id = "homebody">
    <div class="row">
        <div >
            <%= image_tag "welcome img.png", id: "welcomeimg-size" %>
        </div>

        <div >
            <p id = "homebodytext">
                DATA-CENTRIC <br>
                IRRIGATION <br>
                ANALYTICS <br>
                DASHBOARD <br>
            </p>
        </div>

    </div>
</div>