<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid justify-content-end">
    <a class="navbar-brand" href="#">Login</a>
    <%= image_tag "login button.png" %>
  </div>
</nav>

<div class="container-fluid" id = "homebody">
    <div class="row">
        <div >
            <%= image_tag "welcome img.png", id: "welcomeimg-size" %>
        </div>

        <div >
            <p id = "homebodytext">
                DATA-CENTRIC <br>
                IRRIGATION <br>
                ANALYTICS <br>
                DASHBOARD <br>
            </p>
        </div>

    </div>
</div>


</div>