<div class = "container-fluid">
    <div class = "row">
        <div class = "col-4">
            <%= render 'shared/sidebar' %>
        </div>

        <div class = "col-8">
            <h1>Suggestions#suggestions_page</h1>
            <p>Find me in app/views/suggestions/suggestions_page.html.erb</p>
        </div>
    </div>
</div>